<div class="navbar d-flex justify-content-between p-3 bg-white opacity-50">
    <div class="arrow cursor-pointer" (click)="goBack()">
        <i class="fa-solid fa-caret-left"></i>
    </div>
    <div class="search d-flex justify-content-center align-items-center">
        <div class="inp position-relative">
            <input type="text" class="form-control px-3" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass cursor-pointer font-md"></i>
        </div>
        <div class="bell-icon">
            <i class="fa-regular fa-bell px-3 cursor-pointer font-md"></i>
        </div>
    </div>
</div>